/**
 * Designed by Apoorv Khurasia 2013
 * Released to public domain.
 */

html,
body {
    font-family: "Open Sans", sans-serif;
    background-color: #ffffff;
    width: 100%;
    margin: auto;
}

code,
pre,
tt,
kbd,
samp {
    font-family: "Fira Code", monospace;
}

.ide-styled-grid {
    display: grid;
    grid-template-areas:
        "menubar"
        "left-sidebar"
        "editor-area"
        "formatted-content"
        "footer";
}

/* general column padding */
.ide-styled-grid>* {
    padding: 0.3rem;
}

/* assign columns to grid areas */
.ide-styled-grid>.menubar {
    grid-area: menubar;
    background: #000000;
    color: #ffffff;
}

.ide-styled-grid>.editor-area {
    grid-area: editor-area;
    min-height: 300px;
}

.ide-styled-grid>.left-sidebar {
    grid-area: left-sidebar;
}

.ide-styled-grid>.formatted-content {
    grid-area: formatted-content;
}

.ide-styled-grid>.footer {
    grid-area: footer;
}

/* tablet breakpoint */
@media (min-width:768px) {
    .ide-styled-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "menubar left-sidebar"
            "editor-area formatted-content"
            "footer footer";
    }
}

/* desktop breakpoint */
@media (min-width:1024px) {
    .ide-styled-grid {
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
            "menubar menubar menubar menubar menubar"
            "left-sidebar editor-area editor-area formatted-content formatted-content"
            "footer footer footer footer footer";
    }
}

nav li {
    display: inline-block;
    cursor: pointer;
    margin: 0.15rem;
}

nav ul {
    text-align: left;
    margin: 1px;
}

nav.block-element ul {
    display: block;
}

#topic-or-chapter-input {
    font-family: "Open Sans", sans-serif;
}

#markdownInput {
    border: 1px solid;
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    width: 100%;
    height: 100%;
}

#topic-or-chapter-input-form {
    text-align: center;
    vertical-align: middle;
    margin: 1em;
}

#topic-or-chapter-hint {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 1.0em;
}

#footer {
    text-align: center;
    font-size: 0.80em;
}

h1,
h2,
h3,
h4 {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    color: dodgerblue;
    margin-top: 0.5em;
    margin-bottom: 0.15em;
}

h1 {
    font-size: 1.5em;
    text-align: center;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.0em;
}

.toggleButtonOff {
    background: #eeeeee;
    color: darkblue;
}

.toggleButtonOn {
    background: darkblue;
    color: #eeeeee;
}

a,
a:link,
a:active,
a:visited {
    text-decoration: underline;
    color: dodgerblue;
    cursor: pointer;
    cursor: hand;
}

a:hover {
    font-weight: bold;
    text-decoration: none;
}