.light-mode {
  --bg-color: #fdf6e3;
  --primary-text-color: #002b36;
  --nav-bg-color: #eee8d5;
  --nav-fg-color: #839496;
  --code-color: #002b36;
  --code-bg-color: rgb(225, 220, 202);
  --navbutton-text-color: #657b83;
  --navbutton-bg-color: transparent;
  --navbutton-hover-color: #cfc9b9;
  --navbutton-depression-color: #b5b0a2;
  --explorerbutton-text-color: #002b36;
  --explorerbutton-bg-color: transparent;
  --explorerbutton-hover-color: #cfc9b9;
  --explorerbutton-depression-color: #b5b0a2;
  --highlight-bg-color: #eee8d5;
  --input-bg-color: #fff5d5;
  --active-item-border-color: #859900;
  --active-parent-border-color: #839496;
  --blue-accent: #268bd2;
  --red-accent: #dc322f;
  --magenta-accent: #d33682;
}

.dark-mode {
  --bg-color: #073642;
  --primary-text-color: #839496;
  --nav-bg-color: #002b36;
  --nav-fg-color: #839496;
  --code-color: #93a1a1;
  --code-bg-color: #073642;
  --navbutton-text-color: #fdf6e3;
  --navbutton-bg-color: transparent;
  --navbutton-hover-color: #014859;
  --navbutton-depression-color: #016e8a;
  --explorerbutton-text-color: #fdf6e3;
  --explorerbutton-bg-color: transparent;
  --explorerbutton-hover-color: #014859;
  --explorerbutton-depression-color: #016e8a;
  --highlight-bg-color: #073642;
  --input-bg-color: #586e75;
  --active-item-border-color: #859900;
  --active-parent-border-color: #839496;
  --blue-accent: #268bd2;
  --red-accent: #dc322f;
  --magenta-accent: #d33682;
}

::selection {
  background-color: var(--highlight-bg-color);
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--bg-color);
  color: var(--primary-text-color);
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#app {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

code,
pre,
tt,
kbd,
samp {
  font-family: 'JetBrains Mono', monospace;
  color: var(--code-color);
  background-color: var(--code-bg-color);
  border: 1px solid var(--code-bg-color);
  border-radius: 6px;
  padding: 1px;
}

#storeNameInputLi > form {
  border: 1px solid transparent;
  padding: 2px;
}

button.navBtn {
  padding: 2px;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: var(--navbutton-bg-color);
  color: var(--navbutton-text-color);
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
  height: auto;
  appearance: none;
  font-family: 'Open Sans', sans-serif;
}

button.navBtn:hover {
  border: 1px solid var(--navbutton-hover-color);
  background-color: var(--navbutton-hover-color);
}

button.navBtn:active {
  border: 1px solid var(--navbutton-hover-color);
  background-color: var(--navbutton-depression-color);
  box-shadow: var(--navbutton-depression-color);
}

button.material-symbols-outlined {
  font-family: 'Material Symbols Outlined' !important;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

button.explorer-mini-btn {
  appearance: none;
  vertical-align: middle;
  float: right;
  font-size: 1em;
  line-height: 0.865em;
  border: 1px solid transparent;
  border-radius: 3px;
  display: inline;
  color: var(--explorerbutton-text-color);
  background-color: var(--explorerbutton-bg-color);
  text-decoration: none;
  text-align: center;
  height: auto;
  font-family: 'Material Symbols Outlined' !important;
  font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 20;
}

button.explorer-mini-btn:hover {
  border: 1px solid var(--explorerbutton-hover-color);
  background-color: var(--explorerbutton-hover-color);
}

button.explorer-mini-btn:active {
  border: 1px solid var(--explorerbutton-hover-color);
  background-color: var(--explorerbutton-depression-color);
  box-shadow: var(--explorerbutton-depression-color);
}

.topic-nav,
.chapter-nav {
  display: inline-flex;
  max-width: 130px;
}

.topmenu {
  background: var(--nav-bg-color);
  color: var(--nav-fg-color);
  height: auto;
  margin: 0;
  padding: 0;
}

.topmenu li {
  display: inline-block;
  margin: 0.15rem;
  vertical-align: middle;
}

.topmenu ul {
  text-align: left;
  margin: 0;
  padding-inline-start: 2px;
  padding-top: 0;
}

.topmenu.block-element ul {
  display: block;
}

input.mini-editor {
  box-shadow: none;
  background-color: var(--highlight-bg-color);
  border: none;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  display: block;
  outline: none;
  margin: 0;
  padding: 0;
}

input.mini-editor:focus {
  background-color: var(--input-bg-color);
}

#explorer {
  background-color: var(--nav-bg-color);
  border: none;
  border-right: 1px solid var(--nav-bg-color);
  margin: 0;
  padding: 0;
  width: 170px;
  font-size: 0.85em;

  button.material-symbols-outlined {
    font-size: 1.4em;
    padding: 0;
  }

  .topmenu ul {
    text-align: left;
    margin: 0;
    padding-inline-start: 2px;
    padding-top: 0;
  }

  ul {
    list-style: none;
    padding-inline-start: 3px;
    padding: 0;
    margin: 0;
  }

  li.chapter {
    border-left: 2px solid var(--highlight-bg-color);
    padding-left: 10px;
    cursor: pointer;
  }

  li > a {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
  }

  li.chapter.selected,
  li.chapter:active,
  li.chapter:focus {
    background-color: var(--highlight-bg-color);
    border-color: var(--active-item-border-color);
  }

  li.topic > details > summary {
    border: 1px solid transparent;
  }

  li.topic.selected > details > summary,
  li.topic.selected > details > summary:active,
  li.topic.selected > details > summary:focus,
  li.topic > details > summary:hover {
    border-color: var(--active-parent-border-color);
  }

  a,
  a:hover,
  a:active,
  a:link {
    font-weight: normal;
    text-decoration: none;
  }

  #explorer-items {
    padding-left: 6px;
  }
}

#preview {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: scroll;
  overflow-wrap: break-word;
}

#markdownInput {
  box-shadow: none;
  resize: none;
  border: none;
  background-color: var(--bg-color);
  cursor: auto;
  color: var(--code-color);
  border-right: 1px solid var(--nav-bg-color);
  font-family: 'JetBrains Mono', monospace;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

#markdownInput:focus {
  outline: none;
}

.init-message-screen {
  background-color: var(--nav-bg-color);
  color: var(--nav-fg-color);
}

.init-message {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.footer {
  font-size: 0.8em;
  background-color: var(--nav-bg-color);
  color: var(--nav-fg-color);
  height: auto;
  margin: 0;
  padding: 0;
  right: 0;
  box-sizing: border-box;

  label {
    margin: 2px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', serif;
  font-optical-sizing: auto;
  margin-top: 0.5em;
  margin-bottom: 0.15em;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:link {
  color: var(--blue-accent);
}

a:visited {
  color: var(--red-accent);
}

a:hover {
  text-decoration: underline;
}

a:active {
  font-weight: 600;
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}
